@use '../styles/variables' as *;
@use '../styles/mixins' as *;


.center {
  @include flex-center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
  select {
    @include control;
    cursor: pointer;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    input[type='text'] {
      @include control;
      width: 10rem;
    }
    textarea {
      @include control;
      border: 1px solid $primary-clr;
      resize: none;
    }
    input[type='submit'] {
      @include button;
      margin: 0;
    }
  }
}